USE [master]
GO
/****** Object:  Database [SISTEMA_AUTOBUSES]    Script Date: 18/08/2021 17:48:22 ******/
CREATE DATABASE [SISTEMA_AUTOBUSES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISTEMA_AUTOBUSES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SISTEMA_AUTOBUSES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISTEMA_AUTOBUSES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SISTEMA_AUTOBUSES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISTEMA_AUTOBUSES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISTEMA_AUTOBUSES]
GO
/****** Object:  Table [dbo].[AUTOBUSES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOBUSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MARCA] [varchar](50) NOT NULL,
	[MODELO] [varchar](50) NOT NULL,
	[PLACA] [varchar](50) NOT NULL,
	[COLOR] [varchar](20) NULL,
	[ANIO] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHOFERES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHOFERES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[CEDULA] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTAS]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DISTANCIA] [nvarchar](20) NULL,
	[PARADAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIAJES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIAJES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CHOFER] [int] NOT NULL,
	[ID_AUTOBUS] [int] NOT NULL,
	[ID_RUTA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTOBUSES] ON 

INSERT [dbo].[AUTOBUSES] ([ID], [MARCA], [MODELO], [PLACA], [COLOR], [ANIO]) VALUES (1, N'Mercedes-Benz', N'X-700', N'RD-00000', N'Naranja', N'2004')
INSERT [dbo].[AUTOBUSES] ([ID], [MARCA], [MODELO], [PLACA], [COLOR], [ANIO]) VALUES (2, N'BMW', N'A-700', N'RD-11111', N'Blanco', N'2005')
INSERT [dbo].[AUTOBUSES] ([ID], [MARCA], [MODELO], [PLACA], [COLOR], [ANIO]) VALUES (3, N'Audi', N'B-700', N'RD-22222', N'Gris', N'2006')
SET IDENTITY_INSERT [dbo].[AUTOBUSES] OFF
GO
SET IDENTITY_INSERT [dbo].[CHOFERES] ON 

INSERT [dbo].[CHOFERES] ([ID], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [CEDULA]) VALUES (1, N'Ramon', N'Navarro', CAST(N'1997-06-10' AS Date), N'402-4514778-1')
INSERT [dbo].[CHOFERES] ([ID], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [CEDULA]) VALUES (2, N'Carlos', N'Hernandez', CAST(N'1997-06-20' AS Date), N'402-4514778-2')
INSERT [dbo].[CHOFERES] ([ID], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [CEDULA]) VALUES (6, N'Rangel', N'Acevedo', CAST(N'2006-12-01' AS Date), N'402-1488344-2')
SET IDENTITY_INSERT [dbo].[CHOFERES] OFF
GO
SET IDENTITY_INSERT [dbo].[RUTAS] ON 

INSERT [dbo].[RUTAS] ([ID], [NOMBRE], [DISTANCIA], [PARADAS]) VALUES (1, N'Villa Mella', N'5 KM', 5)
INSERT [dbo].[RUTAS] ([ID], [NOMBRE], [DISTANCIA], [PARADAS]) VALUES (2, N'San Cristobal', N'10 KM', 8)
INSERT [dbo].[RUTAS] ([ID], [NOMBRE], [DISTANCIA], [PARADAS]) VALUES (3, N'Azua', N'25 KM', 6)
SET IDENTITY_INSERT [dbo].[RUTAS] OFF
GO
SET IDENTITY_INSERT [dbo].[VIAJES] ON 

INSERT [dbo].[VIAJES] ([ID], [ID_CHOFER], [ID_AUTOBUS], [ID_RUTA]) VALUES (3, 1, 2, 2)
INSERT [dbo].[VIAJES] ([ID], [ID_CHOFER], [ID_AUTOBUS], [ID_RUTA]) VALUES (8, 2, 3, 1)
INSERT [dbo].[VIAJES] ([ID], [ID_CHOFER], [ID_AUTOBUS], [ID_RUTA]) VALUES (9, 7, 7, 5)
SET IDENTITY_INSERT [dbo].[VIAJES] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AUTOBUSE__E441AE002CDD9C3B]    Script Date: 18/08/2021 17:48:22 ******/
ALTER TABLE [dbo].[AUTOBUSES] ADD UNIQUE NONCLUSTERED 
(
	[PLACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHOFERES__06BB8448904AB2B9]    Script Date: 18/08/2021 17:48:22 ******/
ALTER TABLE [dbo].[CHOFERES] ADD UNIQUE NONCLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RUTAS__B21D0AB9F899C1D1]    Script Date: 18/08/2021 17:48:22 ******/
ALTER TABLE [dbo].[RUTAS] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_AUTOBUS_VIAJE] FOREIGN KEY([ID_AUTOBUS])
REFERENCES [dbo].[AUTOBUSES] ([ID])
GO
ALTER TABLE [dbo].[VIAJES] CHECK CONSTRAINT [FK_AUTOBUS_VIAJE]
GO
ALTER TABLE [dbo].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_CHOFER_VIAJE] FOREIGN KEY([ID_CHOFER])
REFERENCES [dbo].[CHOFERES] ([ID])
GO
ALTER TABLE [dbo].[VIAJES] CHECK CONSTRAINT [FK_CHOFER_VIAJE]
GO
ALTER TABLE [dbo].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_RUTA_VIAJE] FOREIGN KEY([ID_RUTA])
REFERENCES [dbo].[RUTAS] ([ID])
GO
ALTER TABLE [dbo].[VIAJES] CHECK CONSTRAINT [FK_RUTA_VIAJE]
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_AUTOBUS]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_AUTOBUS]
@BUSCAR INT
AS
SELECT * FROM AUTOBUSES
WHERE ID LIKE @BUSCAR + '%'

GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CHOFER]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_CHOFER]
@BUSCAR INT
AS
SELECT * FROM CHOFERES
WHERE ID LIKE @BUSCAR + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_RUTA]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_RUTA]
@BUSCAR INT
AS
SELECT * FROM RUTAS
WHERE ID LIKE @BUSCAR + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_VIAJE]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_VIAJE]
@BUSCAR INT
AS
SELECT * FROM VIAJES
WHERE ID LIKE @BUSCAR + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_AUTOBUS]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EDITAR_AUTOBUS]
@ID INT,
@MARCA VARCHAR(50),
@MODELO VARCHAR(50),
@PLACA VARCHAR(50),
@COLOR VARCHAR(20),
@ANIO CHAR(4)
AS
UPDATE AUTOBUSES SET MARCA = @MARCA, MODELO = @MODELO, PLACA = @PLACA, COLOR = @COLOR, ANIO = @ANIO
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_CHOFER]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EDITAR_CHOFER]
@ID INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@FECHA_NACIMIENTO DATE,
@CEDULA NVARCHAR(20)
AS
UPDATE CHOFERES SET NOMBRE = @NOMBRE, APELLIDO = @APELLIDO, FECHA_NACIMIENTO = @FECHA_NACIMIENTO, CEDULA = @CEDULA
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_RUTA]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EDITAR_RUTA]
@ID INT,
@NOMBRE VARCHAR(50),
@DISTANCIA NVARCHAR(20),
@PARADAS INT
AS
UPDATE RUTAS SET NOMBRE = @NOMBRE, DISTANCIA = @DISTANCIA, PARADAS = @PARADAS
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_VIAJE]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EDITAR_VIAJE]
@ID INT,
@ID_CHOFER INT,
@ID_AUTOBUS INT,
@ID_RUTA INT
AS
UPDATE VIAJES SET ID_CHOFER = @ID_CHOFER, ID_AUTOBUS = @ID_AUTOBUS, ID_RUTA = @ID_RUTA
WHERE ID = @ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_AUTOBUS]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINAR_AUTOBUS]
@ID INT
AS
DELETE FROM AUTOBUSES
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_CHOFER]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINAR_CHOFER]
@ID INT
AS
DELETE FROM CHOFERES
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_RUTAS]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINAR_RUTAS]
@ID INT
AS
DELETE FROM RUTAS
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_VIAJE]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINAR_VIAJE]
@ID INT
AS
DELETE FROM VIAJES
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_AUTOBUS]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_AUTOBUS]
@MARCA VARCHAR(50),
@MODELO VARCHAR(50),
@PLACA VARCHAR(50),
@COLOR VARCHAR(20),
@ANIO CHAR(4)
AS
INSERT INTO AUTOBUSES VALUES (@MARCA, @MODELO, @PLACA, @COLOR, @ANIO)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CHOFER]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_CHOFER]
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@FECHA_NACIMIENTO DATE,
@CEDULA VARCHAR(20)
AS
INSERT INTO CHOFERES VALUES (@NOMBRE, @APELLIDO, @FECHA_NACIMIENTO, @CEDULA)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_RUTA]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_RUTA]
@NOMBRE VARCHAR(50),
@DISTANCIA NVARCHAR(20),
@PARADAS INT
AS
INSERT INTO RUTAS VALUES (@NOMBRE, @DISTANCIA, @PARADAS)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_VIAJE]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_VIAJE]
@ID_CHOFER INT,
@ID_AUTOBUS INT,
@ID_RUTA INT
AS
INSERT INTO VIAJES VALUES(@ID_CHOFER, @ID_AUTOBUS, @ID_RUTA)
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_AUTOBUSES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_AUTOBUSES]
AS
SELECT * FROM AUTOBUSES;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CHOFER]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_CHOFER]
AS
SELECT * FROM CHOFERES;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_RUTAS]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_RUTAS]
AS
SELECT * FROM RUTAS;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_VIAJES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_VIAJES]
AS
SELECT V.ID, C.ID as ID_C, A.ID as ID_A, R.ID as ID_R,CONCAT(C.NOMBRE, ' ', C.APELLIDO) as 'CHOFER', C.CEDULA as CEDULA, A.MARCA as 'MARCA AUTOBUS', A.MODELO as 'MODELO AUTOBUS', A.PLACA as 'PLACA AUTOBUS', R.NOMBRE as RUTA, R.DISTANCIA as DISTACIA
FROM VIAJES V
INNER JOIN CHOFERES C ON V.ID_CHOFER = C.ID
INNER JOIN AUTOBUSES A ON V.ID_AUTOBUS = A.ID
INNER JOIN RUTAS R ON V.ID_RUTA = R.ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_LST_AUTOBUSES_DISPONIBLES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LST_AUTOBUSES_DISPONIBLES]
AS
SELECT DISTINCT ID, CONCAT(MARCA, ' ', MODELO) as 'AUTOBUS', PLACA, COLOR, ANIO 
FROM AUTOBUSES WHERE ID NOT IN ( SELECT ID_AUTOBUS FROM VIAJES);

EXEC SP_LST_AUTOBUSES_DISPONIBLES;
GO
/****** Object:  StoredProcedure [dbo].[SP_LST_CHOFERES_DISPONIBLES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LST_CHOFERES_DISPONIBLES]
AS
SELECT DISTINCT ID, CONCAT(NOMBRE, ' ', APELLIDO) as 'NOMBRE COMPLETO', FECHA_NACIMIENTO, CEDULA 
FROM CHOFERES WHERE ID NOT IN ( SELECT ID_CHOFER FROM VIAJES);


EXEC SP_LST_CHOFERES_DISPONIBLES;
GO
/****** Object:  StoredProcedure [dbo].[SP_LST_RUTAS_DISPONIBLES]    Script Date: 18/08/2021 17:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LST_RUTAS_DISPONIBLES]
AS
SELECT DISTINCT ID, CONCAT(NOMBRE, ' ', DISTANCIA) as 'RUTA', PARADAS
FROM RUTAS WHERE ID NOT IN ( SELECT ID_RUTA FROM VIAJES);
GO
USE [master]
GO
